.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: auto 2rem;
  padding: 1.5rem 1rem;
  color: #da2149;
  background: #61dafb;
  border: 10px solid #fff;
  border-radius: 0.3rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: calc(10px + 2vmin);
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: auto 2rem;
  padding: 1.5rem 1rem;
  color: #da2149;
  background: #61dafb;
  border: 10px solid #fff;
  border-radius: 0.3rem;
}
